{
  "port": 443,
  "maxage": 1200000,
  "cookiekey": "ABCDEFG",
  "database": {
    "host": "192.168.1.5",
    "username": "root",
    "password": "root",
    "name": "DB",
    "port": 3306
  },
  "reCAPTCHA": {
    "Web_token": "",
    "Server_token": ""
  },
  "Email_config": {
    "Admin_Email": [],
    "MAIL_MAILER": "smtp",
    "MAIL_HOST": "",
    "MAIL_PORT": 465,
    "MAIL_USERNAME": "",
    "MAIL_PASSWORD": "",
    "MAIL_SSL": "true",
    "MAIL_FROM_ADDRESS": "",
    "MAIL_FROM_NAME": ""
  },
  "LogSize": "10M",
  "BackUpNumber": 10,
  "EnableCompress": true,
  "passScore": 70,
  "EnableHTTPS": true,
  "EnableHSTS": true
}