body {
    background-image: unset;
    background-color: #CCCCFF;
}
header {
    display: none;
}
.box-header {
    padding: 15px 5px;
    margin-bottom: 5px;
    background-color: #9999CC;
    text-align: center;
}
.box-header h2 {
    font-size: 26px;
    /*color: #9999CC;*/
}
.box-content .col-md-max:nth-child(1) {
    margin-top: 0;
}
.test_questions {
    display: none;
    padding: 5px;
}
.test_questions>div {
    padding: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,.4);
}
.test_questions button {
    padding: 15px 0;
}