body {
    background-image: unset;
    background-color: #CCCCFF;
}
.end_time-bar {
    width: 100%;
    height: 30px;
    background-color: rgb(0 255 0 / 50%);;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 30px;
}
.box-header {
    padding: 15px 5px;
    margin-bottom: 5px;
    background-color: #9999CC;
    text-align: center;
}
.box-header h2 {
    font-size: 26px;
}
.box-content .col-md-max:nth-child(1) {
    margin-top: 0;
}
.test_questions {
    display: none;
    padding: 5px;
}
.test_questions>div {
    padding: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,.4);
}
.test_questions button {
    padding: 15px 0;
}